@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    overflow-y: scroll;
    overflow-x: hidden !important;
}


.striped-background {
    background-image: linear-gradient(135deg, #7f51bd 37.50%, #664194 37.50%, #664194 50%, #7f51bd 50%, #7f51bd 87.50%, #664194 87.50%, #664194 100%);
    background-size: 5.66px 5.66px;
}

.overlay-transparent {
    background-color: transparent !important;
}

.container-body {
    margin-top: 60px;

}

.social-media {
    filter: invert(28%) sepia(16%) saturate(6286%) hue-rotate(260deg) brightness(90%) contrast(88%);
}

.title-maldittocast {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: -0.065em;
    line-height: 0.85;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.footer-maldittocast {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: -0.065em;
    font-size: 1.75rem;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.footer-maldittocast-emote {
    font-weight: 400;
    letter-spacing: 0.1em;
}

.title-maldittocast-below-text {
    font-weight: 400;
    color: #ffbf01;
    letter-spacing: -0.025em;

    font-size: 35px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.spotify-embedded {
    height: 352px;
}

@media (max-width: 768px) {
    .title-maldittocast {
        font-size: 57px;
    }

    .title-maldittocast-below-text {
        font-size: 27px;
    }

    .intro-section {
        height: calc(95vh - 120px);
    }

    .spotify-embedded {
        height: 152px;
    }
}

.page-one {
    padding-top: 22.5%;
    height: 100%;

}

.emoji {
    padding: 10% 20%;
    font-size: 30px;
    color: white;
}

img {
    height: 150%;
}

.test {
    border: brown 1px solid;
}

.malditto-logo-title {
    width: 150%;
    height: auto;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.3));
    -webkit-animation: rotation 240s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.celular {
    width: 24vw;
    height: auto;
}

.celular-sm {
    width: 100%;
    height: auto;
}

.redes-sociais {
    position: relative;
    bottom: 120px;
    left: 60px;
    height: auto;
}

.filter-black {
    filter: grayscale(100%) brightness(0);
}

@media (min-width: 768px) {
    .bg-light-shadow {
        -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0px 50px rgba(0, 0, 0, 0.35);
    }
}

.page-100 {
    padding-top: 22.5%;
    height: 100%;
}

.page-100-p-0 {
    padding-top: 22.5%;
    height: 100%;
}

.page-75 {
    padding-top: 22.5%;
    height: 75%;
}

.um-podcast-que-infelizmente {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: -0.065em;
    line-height: 1.25;
    color: #8539a0;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.25;
    color: #8539a0;
}

.um-podcast-que-tentamos {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -0.065em;
    line-height: 1;
    color: #616368;
}


.podcast-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.065em;
    line-height: 0.85;
    color: #616368;
}

.pontos h6 {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

.pontos-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: -0.065em;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0px 0px 7px #000;

}

.page-one>div>.podcast-section {
    width: 65%;
}

.podcast-section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.google {
    color: #4848d4;
}

.apple {
    color: #aa1dd3;
}

.spotify {
    color: #19c456;
}

.circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 3px;
}

.circle-sm {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.circle-google {
    background: #f4f4ff;
}

.circle-spotify {
    background: #dafee7;
}

.circle-apple {
    background: #f9ecff;
}

.circle-points {
    filter: brightness(0) saturate(100%) invert(28%) sepia(82%) saturate(831%) hue-rotate(249deg) brightness(90%) contrast(98%);
}

a {
    text-decoration: none !important;
    border-radius: 4px;
    padding: 14px 0 6px 0;
    transition: 0.65s ease;
}


a:hover {
    background-color: #f4f4f5;
}

.link-podcast:hover {
    transform: scale(1.05);
    background-color: #7f51bd;
    color: #fff;

}

.link-podcast:hover>div>p {
    color: #fff;
}


.icon {
    height: 48px;
    width: auto;
    position: relative;

}

.icon-apple-podcast {
    top: 13px;
    left: 13px;
}

.icon-google-podcast {
    top: 12px;
    left: 12px;
}

.icon-spotify-podcast {
    top: 11px;
    left: 11px;
}

.icon-bill {
    top: 14px;
    left: 15px;
    height: 62%;
    filter: invert(34%) sepia(87%) saturate(1692%) hue-rotate(328deg) brightness(102%) contrast(102%);
}

.icon-mindset {
    top: 14px;
    left: 13px;
    height: 62%;
    filter: invert(40%) sepia(22%) saturate(2288%) hue-rotate(206deg) brightness(84%) contrast(85%);
}

.icon-certified {
    top: 11px;
    left: 10px;
    height: 50px;
    filter: invert(41%) sepia(7%) saturate(4079%) hue-rotate(89deg) brightness(118%) contrast(80%);
}

.algo-melhor-pra-ouvir {
    color: #7f51bd;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: -0.065em;
    line-height: 1.2;
}

@media screen and (min-width: 768px) {
    .divider-div {
        border-right: solid #ccc 1px;
    }
}

@media not screen and (min-width: 768px) {
    .divider-div {
        border-bottom: 0;
    }
}


.section {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.065em;
    line-height: 1.5;
    color: #616368;
}

.motivos-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5;
    color: #616368;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: -0.05em;
}

.uma-palinha {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: -0.065em;
    line-height: 1.25;
    color: #8539a0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: #8539a0;
}


.btn-grad {
    background: rgb(147, 79, 240);
    background: linear-gradient(14deg, rgba(147, 79, 240, 1) 0%, rgba(75, 38, 120, 1) 100%);
    padding: 18px 90px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: inline-block;
    margin: 0 60px;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-grad-inverse {
    background: #fff;
    box-shadow: inherit;
    color: #8539a0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn-grad-inverse:hover {
    background: rgb(137, 84, 212);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transform: scale(1.05);
}

.btn-small {
    padding: 13px 30px;
    font-weight: 700;
    font-size: 0.7rem;
}

.parabens-section {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.maldittoense-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 1;
    color: #ffbf01;
    letter-spacing: -0.065em;
    line-height: 0.5;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .maldittoense-title {
        text-align: center;
        font-size: calc(1.4rem + 4vw);
    }
}

h6 {
    color: #ffbf01;
}

.mockup-phone-background {
    transform-origin: left center;
    transform: scale(2.75) translateY(35px);
}

.mockup-phone-main {
    transform: scale(3.75) translateY(35px) translateX(5px);
}

@media (max-width: 992px) {

    .mockup-phone-main {
        transform: scale(5) translatex(15px);
    }

    .mockup-phone-background {
        transform: scale(4.5) translateX(-5px);
    }
}

footer {
    height: 50vh;
    width: 100vw;
    background-color: #00000050;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0x 50px rgba(0, 0, 0, 0.5);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
    scrollbar-width: none;
    scrollbar-color: #696969 #ffffff;
  } */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: rgb(90, 46, 144);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffbf01;
    border-radius: 5px;
}


html,
html body,
body #wrapper {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
}